/* Quiz Section, Results Part */
#results-text {
    font-size: 1.25rem;
    margin-top: 1rem;
}

#new-quiz {
    min-height: 3rem;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;

    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;

    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

#new-quiz:hover {
    background-color: #005fa3;
    cursor: pointer;
}